<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            .dropdown {
                margin-left: 10px;
                display: inline-block;
            }
            .dropdown i {
                display: inline-block;
                font-size: 1.4rem;
                padding-right: 1rem;
            }
            .dropdown-content {
                display: none;
                position: absolute;
                right: 0;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }
            .dropdown:hover .dropdown-content {
                display: block;
            }
        </style>
        <title></title>
    </head>
    <body>
        <div class="main-content">
            <header>
                <h2>
                    <label for="nav-toggle"><i class="bx bx-hive"></i> </label>
                    SAFETY HOME
                </h2>
                <div class="user-wrapper">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6SuPNu_RXRJu3HT4QLaMf6JUlPyDhMmPTbA&usqp=CAU"
                        alt=""
                        width="40px"
                        height="40px"
                    />
                    <div>
                        <h4>JOHN</h4>
                        <small>Admin</small>
                    </div>
                    <div class="dropdown" style="float: right">
                        <i class="bx bxs-caret-down-circle"></i>
                        <div class="dropdown-content">
                            <a href="#">Change password</a>
                            <a href="#">Update account</a>
                            <a href="#">others</a>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </body>
</html>
