<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <input type="checkbox" id="nav-toggle" />
        <div class="sidebar">
            <div class="sidebar-brand">
                <h2>
                    <i class="bx bx-home-alt"></i>
                    <span> Hello John </span>
                </h2>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href="/" id="bar-homepage">
                            <i class="bx bx-home-alt"></i>
                            <span>HomePage</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard" id="bar-dashboard">
                            <i class="bx bx-grid-alt"></i>
                            <span class="links_name">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="bar-add-divice">
                            <i class="bx bxs-message-alt-add"></i>
                            <span class="links_name">Add device</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="bar-report">
                            <i class="bx bxs-report"></i>
                            <span class="links_name">Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="bar-message">
                            <i class="bx bx-message-rounded-dots"></i>
                            <span class="links_name">Message</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="bar-help">
                            <i class="bx bxs-help-circle"></i>
                            <span class="links_name">Help</span>
                        </a>
                    </li>
                    <li>
                        <a href="logout" id="logout">
                            <i class="bx bx-log-in"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
