<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <title>Home Safety</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <section class="home-section">
            <div class="card">
                <div class="app">
                    <h2 class="room">Kitchen Zone</h2>
                    <div class="current-time">
                        <i class="bx bx-timer"></i>
                        <span id="time-now">12.01</span>
                    </div>
                    <div class="temp">
                        <i class="bx bx-brightness-half"></i>
                        <span id="temp-res">Temperature: 51°C</span>
                    </div>
                    <div class="humidity">
                        <i class="bx bx-water"></i>
                        <span id="humid-res">Humidity: 60%</span>
                    </div>
                    <div class="gas_checking">
                        <i class="bx bx-check-shield"></i>
                        <span id="gas-res">Gas Checking: Safety</span>
                    </div>
                </div>
            </div>
            <div class="control">
                <div class="light">
                    <h3>Light Alert</h3>
                    <img
                        id="light_img"
                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/93927/pic_bulboff.gif"
                        class="light-img"
                    />
                    <div class="container-light-btn">
                        <div class="toggle-btn">
                            <div class="inner-circle"></div>
                        </div>
                    </div>
                </div>
                <div class="speaker">
                    <h3>Buzzer Alert</h3>
                    <img
                        id="speaker_img"
                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/93927/pic_bulboff.gif"
                        class="light-img"
                    />
                    <div class="container-light-btn">
                        <div class="toggle-btn">
                            <div class="inner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            var data = <%-JSON.stringify(data) %>;
            var tempdb = data['temp'];
            var humiddb = data['humid'];
            var gasdb = data['gas'];
        </script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/home.js"></script>
    </body>
</html>
